@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-in {
  animation: fadeIn ease 3s forwards; /* Adjusted to 800ms for a smooth fade */
  -webkit-animation: fadeIn ease 3s   forwards; /* For Safari */
  -moz-animation: fadeIn ease 3s  forwards; /* For Firefox */
  -o-animation: fadeIn ease 3s forwards; /* For Opera */
  -ms-animation: fadeIn ease 3s forwards; /* For Internet Explorer */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}